/* ******************************************** LAYOUT */

:root {
    --primary: #FDFCFC;
    --secondary: #FFF;
    
    --tertiary: #1E1C2E;
    --background: #F3F7FC;

    --accent: #AA87F5;
    --accent-light: #f5f0ff;
    
    --primary-font: 'Inter', sans-serif;
    --secondary-font: 'Mulish', sans-serif;
}

body {
    font-family: var(--primary-font);
    margin: 0 !important;
}

main {
    min-height: 100vh;
}

.logo {
    width: 50px;
    height: 50px;
}

.center-container {
    margin: 0 auto;
}

#signup,
#login {
    max-width: 552px;
}

.w-fit {
    width: fit-content;
}

.create-note-input:focus {
    outline: none;
}

.icon-xsm {
    width: 12px;
    height: 12px;
}

.icon-sm {
    width: 15px;
    height: 15px;
}

.icon-md {
    width: 20px;
    height: 20px;
}

.dropdown-item:active {
    background-color: var(--accent-light);
    color: black;
}

#note-list .card {
    border-bottom: 4px solid var(--accent) !important;
    transition: .2s ease-in-out;
    
}

#note-list .card:hover {
    background-color: var(--accent) !important;
    color: white !important;
}

#note-list .card:hover .text-secondary {
    color: white !important;
}

#note-list .card:hover svg:not(.dropdown-icon) path {
    fill: white !important;
}

@media only screen and (min-width: 992px) {
    #update input {
        max-width: 50%;
    }
  }

/* ******************************************** FONTS / TEXT */

.secondary-font {
    font-family: var(--secondary-font) !important;
}

.fs-7 {
    font-size: .8rem;
}

/* ******************************************** COLORS */

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-secondary {
    background-color: var(--secondary) !important;
}

.bg-body {
    background-color: var(--background) !important;
}

.bg-tertiary {
    background-color: var(--tertiary) !important;
}

.accent {
    background-color: var(--accent);
}

.accent-light {
    background-color: var(--accent-light);
}

